mixin blogBox (day, date)
    .col.blog__box
        div.blog__image.position-relative
            img(src="./img/blog/1.jpg", class="img-fluid img-object" alt="1")
            p.blog__date.position-absolute.bg-secondary.mb-0.text-primary
                span.d-block.weight-bolder.text-mid #{day}
                span.d-block.text-uppercase #{date}
        p.blog__description.mt-4 The development of an online clothing and accessories store has been completed. Want to see?