//- 
include ../mixins/svg
include ../mixins/button-primary

//- 
mixin cardPlan(head, title, nameIcon, price)

    .col-sm-6.col-md-4.plans-one__card.text-light-1.text-center.py-4.px-2.px-md-3.px-lg-5.mb-3.mb-md-0

        .plans-one__info
            p.plans-one__info__type.text-uppercase.mb-2.weight-bold.text-xsmall #{head}
            p.plans-one__info__user.text-light-2.first-letter.mb-0.mx-auto.text-capitalize.width-80 #{title}
            

        .plans-one__icon.d-flex.align-items-center.justify-content-center.my-3.mx-auto
            +getSvgIcon(nameIcon, 'grow-0 shrink-0')

        .plans-one__features.mb-2.border-bottom.border-gray
            p.plans-one__features__storage
                span.weight-bold 512 
                span.text-uppercase.weight-bold gb 
                span.text-light-2 on disk
            p.plans-one__features__products 
                span.weight-bold 1000
                span.text-light-2  products
            p.plans-one__features__sms
                span.text-uppercase.weight-bold sms 
                span.text-light-2 distribution

        p.plans-one__price 
            span.d-block.weight-bolder.text-small &dollar; #{price}
            span.d-block.text-capitalize.text-light-2 per month

        +createBtn('btn btn-primary plans-one__button letter-spacing border-0 mt-3 py-3 py-lg-3 px-3 px-lg-5 text-uppercase text-xxsmall py-2 px-4 weight-bolder', 'send an application', 'https://www.google.com')