//- 
include ../mixins/svg
include ../mixins/button

//- 
mixin cardPlan(head, title, nameIcon, price)

    .col-md-4.bg-secondary.text-light-1.text-center.py-4.px-5

        .plans__info
            p.plans__info__type.text-uppercase.mb-2.weight-bold.text-other #{head}
            p.plans__info__user.text-light-2.first-letter.mb-0.mx-auto.text-capitalize.width-80 #{title}
            

        .plans__icon.d-flex.align-items-center.justify-content-center.my-3.mx-auto
            +getSvgIcon(nameIcon, 'grow-0 shrink-0')

        .plans__features.mb-2.border-bottom.border-gray
            p.plans__features__storage
                span.weight-bold 512 
                span.text-uppercase.weight-bold gb 
                span.text-light-2 on disk
            p.plans__features__products 
                span.weight-bold 1000
                span.text-light-2  products
            p.plans__features__sms
                span.text-uppercase.weight-bold sms 
                span.text-light-2 distribution

        p.plans__price 
            span.d-block.weight-bolder.text-mid &dollar; #{price}
            span.d-block.text-capitalize.text-light-2 per month

        +createBtn('btn btn-primary border-0 mt-3 py-3 px-5 text-uppercase text-xxsmall py-2 px-4 weight-bolder', 'send an application', 'https://www.google.com')