mixin header(heading, title1 = false, title2 = false)

    .col.grow-0.shrink-0.position-relative.d-flex.justify-content-center.align-items-center
        h1(class="text-uppercase text-xlarge weight-bolder" key=titlePage data-lang="head") #{heading}

    if title1
        .col.header-section__info.grow-0.shrink-0
            .row.no-gutters.h-100.justify-content-center
                .col-lg-4.weight-bold.header-section__info__description.header-section__info__description--1.first-letter.mx-md-2
                        p #{title1}

                .col-lg-4.header-section__info__description.header-section__info__description--2.weight-light.first-letter.text-light-2
                    p #{title2}