mixin historyBox(year, heading, title, classActive = false)
    div(class="col-lg-4 our-history__line-date__box position-relative select" class=classActive)
            p.pb-3.border-bottom.border-light-2.text-light-2 #{year}
            h4.text-uppercase #{heading}
            p.first-line.text-light-2 #{title}