//- 
include ../mixins/button-primary

//- 
mixin parAboutUs(title, par, addClass='false', addClassTitle='false', btnShow='false')

    div(class=addClass)

        h3(class="text-small text-uppercase text-primary weight-bolder mb-3" class=addClassTitle) #{title}

        .bg-third.p-3.p-lg-5.rounded.text-light
            p.text-xsmall.first-letter #{par}

            if btnShow
                +createBtn('btn btn-primary border-0 rounded-0 mt-3 text-uppercase text-xxsmall py-2 px-4 weight-bolder', 'about us', 'https://www.google.com')