//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    -var title = 'blog'
    title #{title}

//- CHANGE CONTENT
block content
    //- Container
    div(class="container-fluid no-gutters overflow-hidden")
        //- Btn scroll up
        include ./components/btnScrollUp
        //- Navbar
        include ./components/navbar
        //- Header Blog
        include ./components/headerBlog
        main
            //- Blogs
            include ./components/blogs
            //- Paginate
            include ./components/paginate
            //- Trusted
            include ./components/trusted
            //- Footer
            include ./components/footer

