//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    -var title = 'contacts'
    title #{title}

//- CHANGE CONTENT
block content
    //- Container
    div(class="container-fluid no-gutters overflow-hidden")
        <!-- Btn Scroll up -->
        include ./components/btnScrollUp
        <!-- Navbar -->
        include ./components/navbar
        <!-- Header -->
        include ./components/headerContacts
        <!-- Main -->
        main
            <!-- Section How Can Help Contacts -->
            include ./components/how-can-help
            <!-- All Contacts -->
            include ./components/all-contacts
            <!-- Form Contacts -->
            include ./components/form-contacts
            <!-- Form Maps -->
            include ./components/maps
            <!-- Footer -->
            include ./components/footer

