//- EXTENDS 
extends extend/page.pug
//- CHANGE TITLE
block title
    title page

//- CHANGE CONTENT
block content
    //- Container
    div(class="container-fluid no-gutters overflow-hidden")
        //- 
        include ./components/btnScrollUp
        //- Navbar
        include ./components/navbar
        //- Header
        include ./components/header
        main
            //- About us
            include ./components/about-us
            //- Why choose us
            include ./components/choose-us
            //- Our works
            include ./components/our-works
            //- Services
            include ./components/services
            article.position-relative.addBackground
                //- Blog
                include ./components/blog
                //- Testimonial
                include ./components/testimonial
            //- Trusted
            include ./components/trusted
            //- Footer
            include ./components/footer









