//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    title home page

//- CHANGE CONTENT
block content
    //- Container
    div(class="container-fluid no-gutters overflow-hidden")
        //- Navbar
        include ./components/navbar
        //- Header
        include ./components/header








