//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    -var title = 'home'
    title #{title}

//- CHANGE CONTENT
block content
    //- Container
    div(class="container-fluid no-gutters overflow-hidden")
        //- Btn scroll up
        include ./components/btnScrollUp
        //- Navbar
        include ./components/navbar
        //- Header
        include ./components/headerHome
        main
            //- About us
            include ./components/our-about-us
            //- Why choose us
            include ./components/our-choose-us
            //- Our works
            include ./components/our-works
            //- Services
            include ./components/our-services
            //- 
            article.position-relative.addBackground-home
                //- Blog
                include ./components/our-blog
                //- Testimonial
                include ./components/testimonial
            //- Trusted
            include ./components/trusted
            //- Footer
            include ./components/footer



