//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    -var title = 'works'
    title #{title}

//- CHANGE CONTENT
block content
    //- Container
    div(class="container-fluid no-gutters overflow-hidden")
        //- Btn scroll up 
        include ./components/btnScrollUp
        //- Navbar
        include ./components/navbar
         //- Main
        main
            //- Header
            include ./components/headerWorks
            //- All works
            include ./components/allWorks
            //- Features services
            include ./components/features-services
            //- Trusted
            include ./components/trusted
            //- Footer
            include ./components/footer

