//- 
include ../mixins/button

//- 
section.about-us.row.text-light-1.h-100.mb-lg-5
    //- 
    .col-lg-6.about-us__heading.position-relative.mb-5
        p.about-us__heading__title.position-absolute.text-large.text-right.weight-bolder.text-uppercase
                if changeDir == 'ltr'
                    span.d-block who
                    span.d-block are
                    span.d-block we
                else
                    span.d-block من
                    span.d-block نحن

        div.about-us__heading__img.position-relative
            img(class="img-fluid img-object" src="./img/section-2/1.jpg", alt="1")
            img(class="img-fluid img-object position-absolute" src="./img/section-2/2.jpg", alt="2")
    //-    
    .col-lg-6.about-us__info.d-flex.flex-column.justify-content-center
        h2.about-us__info__title.text-small.text-uppercase.text-primary.weight-bolder.mb-3 saturno
        .about-us__info__description.bg-third.p-3.p-lg-5.rounded
            p.text-xsmall The company works on the most effective job organizing principles. saturno employees are qualified service specialists, creative and technical designers, PHP, HTML and CSS programmers, content editors and publicists. Responsibilities are professionally divided between specialists.

            //- 
            +createBtn('btn btn-primary border-0 rounded-0 mt-3 text-uppercase text-xxsmall py-2 px-4 weight-bolder', 'about us')