//- 
include ../mixins/sections-services

//- 
section.services

    .row.no-gutters.text-light-2.h-100
        +sectionServices('./img/other/7.jpg', '1', 'internet solution development', 'from custom websites designed in photoshop, and committed to html and a content management system, through to simple WordPress sites using customized templates, our web department has an extensive list of skills and techniques to share. Programming your websites and adding texts is by far not the end of our service. We will embellish your websites with the ability to hunt down a myriad business opportunities.', 'read more', 'https://www.google.com', 'left', 'width-60')

    .row.no-gutters.text-light-2.h-100
        +sectionServices('./img/other/8.jpg', '1', 'website design', 'from custom websites designed in photoshop, and committed to html and a content management system, through to simple WordPress sites using customized templates, our web department has an extensive list of skills and techniques to share. Programming your websites and adding texts is by far not the end of our service. We will embellish your websites with the ability to hunt down a myriad business opportunities.', 'read more', 'https://www.google.com', 'right', 'width-30')

    .row.no-gutters.text-light-2.h-100
        +sectionServices('./img/other/9.jpg', '1', 'search promotion', 'from custom websites designed in photoshop, and committed to html and a content management system, through to simple WordPress sites using customized templates, our web department has an extensive list of skills and techniques to share. Programming your websites and adding texts is by far not the end of our service. We will embellish your websites with the ability to hunt down a myriad business opportunities.', 'read more', 'https://www.google.com', 'left', 'width-50')

    .row.no-gutters.text-light-2.h-100
        +sectionServices('./img/other/10.jpg', '1', 'electronic commerce', 'from custom websites designed in photoshop, and committed to html and a content management system, through to simple WordPress sites using customized templates, our web department has an extensive list of skills and techniques to share. Programming your websites and adding texts is by far not the end of our service. We will embellish your websites with the ability to hunt down a myriad business opportunities.', 'read more', 'https://www.google.com', 'right', 'width-30')