//- 
include ../mixins/works-box

//- 
section.all-works
    .row.no-gutters

        +addWorks('online store', './img/other/12.jpg', 12, 'width-40')

//- 
section.all-works
    .row.no-gutters

        +addWorks('mobile app', './img/other/13.jpg', 13, 'width-30')

//- 
section.all-works
    .row.no-gutters

        +addWorks('website design', './img/other/14.jpg', 14, 'width-40')

//- 
section.all-works
    .row.no-gutters

        +addWorks('business cards', './img/other/15.jpg', 15, 'width-40')