//- 
include ../mixins/svg

//- 
div.form-group.change-lang.m-0.h-100.cursor.mt-3.mt-lg-0.mx-0.mx-md-2.position-relative

    div.change-lang__icon.position-absolute
      +getSvgIcon('Angle-Left', 'resize-svg grow-0 shrink-0')
      +getSvgIcon('Angle-Right', 'resize-svg grow-0 shrink-0')

    select.form-control#exampleFormControlSelect1.change_lang.h-100.rounded-0.border-0.bg-primary.text-light-1.text-capitalize
      option(class="change_lang" selected value="#en") en
      option(class="change_lang" value="#ar") عربي
