//- 
include ../mixins/choose-us-box

//- 
section.choose-us.row.text-light-1.p-4.p-md-0#choose-us

    //- 
    .col-lg-6.choose-us__heading.position-relative.mb-5.d-flex.flex-column.align-items-center.justify-content-center

        //- 
        .width-70
            h2.choose-us__heading__title.text-large.weight-bolder.text-uppercase
                if changeDir == 'ltr'
                    span.d-block.line-height why
                    span.d-block.line-height choose
                    span.d-block.line-height us?
                else
                    span.d-block.line-height لماذا
                    span.d-block.line-height تختارنا؟
            
            p.choose-us__heading__description.width-70.text-capitalize.mt-5.text-xsmall digital Score offers customers 12 years of experience and knowledge about how to sell more, providing fast and high-quality project management

    //- 
    .col-lg-6.choose-us__features.d-flex.align-items-center.justify-items-center

        //- 
        .row.no-gutters.flex-column.align-items-center.justify-content-center.mx-auto.width-60.h-100
            
            //- 
            +chooseBox('experiance', '12 year sof experience on the market', 'experiance')

            //- 
            +chooseBox('professional', 'our system of tasks distribution allows us to offer quick solutions that are necessary for Your business.', 'professional')

            //- 
            +chooseBox('high quality', 'the most qualified specialists will be working with You to ensure high quality on each stage of project.', 'quality')

            //- 
            +chooseBox('speed', 'you don’t have to wait until someone will be free from another project. Tasks can be done much faster!.', 'speed')

            //- 
            +chooseBox('lower-cost', 'you don’t have to sign long-term contracts. We offer flexible payment terms.', 'lower-cost')