header.header.row.flex-column.align-items-center.justify-content-center.overflow-hidden.bg-primary
        .col.header__contains.d-flex.align-items-center.justify-content-center.flex-grow-0.py-4
            include ./head
        .col.d-flex.align-items-end
            include ./slider
            
            
