header.header-works.row.no-gutters.flex-column.align-items-center.text-light-1.text-center.px-4.position-relative

    .col.header-works__heading.grow-0.shrink-0.position-relative
        h1.text-uppercase.text-xlarge.weight-bolder works

    .col.header-works__info.grow-0.shrink-0
        .row.no-gutters.h-100.justify-content-center
            .col-lg-4.weight-bold.header-works__info__description.header-works__info__description--1.first-letter.mx-md-2
                p Company saturno began its activity in the field of sale and purchase of vehicles in 2007 in Rostov-on-Don.

            .col-lg-4.header-works__info__description.header-works__info__description--2.weight-light.first-letter.text-light-2
                p In practice, feeling its potential, we came to the conclusion that we can be useful to motorists in moscow and already in 2012 offered their services in the capital automobile market. Today we are implementing a wide range of programs: from traditional car purchase to europrotocol registration and trade in system