//- 
include ../mixins/img
include ../mixins/heading-h2
include ../mixins/par-about-us

//- 
section.how-help

    .row.no-gutters.h-100

        .col-lg-5.how-help__box.d-flex.justify-content-center.align-items-center.position-relative.mb-2.mb-lg-0

            +getImage('section-can-help/1.jpg', '1')

            +headingH2('how we can help?', '1', 'position-absolute text-large text-light text-right weight-bolder text-uppercase line-height zindex-over')

            +getImage('section-can-help/2.jpg', '2', 'position-absolute')


        .col-lg-7.how-help__box.d-flex.flex-column.justify-content-center
            +parAboutUs({
                title: 'let’s work together!',
                par: 'we like to talk and on the strength of that you are invited for a coffee at our head office',
                addClass: 'mx-auto how-help__info',
                addClassTitle: 'letter-spacing text-center',
            })