section.map.text-center.row.no-gutters.flex-column.text-light-1.position-relative

    .col.text-uppercase.width-40.mx-auto.p-2
        h4.text-small.weight-bolder for us, there is no obstacles at a distance

    .col.my-5
        img(class="img-fluid" src="../img/other/5.png", alt="map")

    .col.width-30.mx-auto.p-2
        p.first-letter we specialize in the markets of the baltic sea states and work with companies from all over the world.