//- 
include ../mixins/svg

//- 
section.our-works#works
    //- 
    .our-works__heading.text-center.p-2.p-lg-3
        h3.text-mid.text-light-1.weight-bolder.text-uppercase our works
        p.text-xsmall.text-light-2.width-30.mx-auto check out our featured projects, a quick showcase on work in progress and our previous work timeline.
    
    //- 
    div(class="btn-group our-works__btn-gallery d-flex justify-content-center" role="group" aria-label="gallery")
        button(class="btn btn-change btn-outline-primary mr-md-3 rounded-0 text-light-1 weight-light text-uppercase active shrink-0.grow-0" data-select="all") all works
        button(class="btn btn-change btn-outline-primary mr-md-3 rounded-0 text-light-1 weight-light text-uppercase shrink-0.grow-0" data-select="sites") sites
        button(class="btn btn-change btn-outline-primary mr-md-3 rounded-0 text-light-1 weight-light text-uppercase shrink-0.grow-0" data-select="logos") logos
        button(class="btn btn-change btn-outline-primary mr-md-3 rounded-0 text-light-1 weight-light text-uppercase shrink-0.grow-0" data-select="other") other

    //- 
    .row.no-gutters.our-works__gallery.mt-5.flex-column.flex-lg-row.h-100
        //- 
        div(class="col-12 col-lg-5 our-works__gallery__image all logos position-relative")
            a(href="#")
                img(class="img-fluid img-object" src="./img/gallery/1.jpg", alt="gallery-1")
                .our-works__gallery__overlay.position-absolute.d-flex.align-items-center.justify-content-center.text-center
                    .our-works__gallery__content
                        +getSvgIcon('visit', 'our-works__gallery__icon resize-svg mt-2 mx-3 grow-0 shrink-0')
                        p.text-light-1.text-xsmall.weight-bold.text-capitalize.mt-4 sport nutritions online shop development
        //- 
        .col-12.col-lg-7.d-flex.flex-column

            .row.no-gutters.h-100

                div(class="col-md-4 our-works__gallery__image all other position-relative")
                    a(href="#")
                        img(class="img-fluid img-object" src="./img/gallery/2.jpg", alt="gallery-2")
                        .our-works__gallery__overlay.position-absolute.d-flex.align-items-center.justify-content-center.text-center
                            .our-works__gallery__content
                                +getSvgIcon('visit', 'our-works__gallery__icon resize-svg mt-2 mx-3 grow-0 shrink-0')
                                p.text-light-1.text-xsmall.weight-bold.text-capitalize.mt-4 sport nutritions online shop development

                div(class="col-md-4 our-works__gallery__image all sites position-relative")
                    a(href="#")
                        img(class="img-fluid img-object" src="./img/gallery/3.jpg", alt="gallery-3")
                        .our-works__gallery__overlay.position-absolute.d-flex.align-items-center.justify-content-center.text-center
                         .our-works__gallery__content
                                +getSvgIcon('visit', 'our-works__gallery__icon resize-svg mt-2 mx-3 grow-0 shrink-0')
                                p.text-light-1.text-xsmall.weight-bold.text-capitalize.mt-4 sport nutritions online shop development

                div(class="col-md-4 our-works__gallery__image all logos position-relative")
                    a(href="#")
                        img(class="img-fluid img-object" src="./img/gallery/4.jpg", alt="gallery-4")
                        .our-works__gallery__overlay.position-absolute.d-flex.align-items-center.justify-content-center.text-center
                         .our-works__gallery__content
                                +getSvgIcon('visit', 'our-works__gallery__icon resize-svg mt-2 mx-3 grow-0 shrink-0')
                                p.text-light-1.text-xsmall.weight-bold.text-capitalize.mt-4 sport nutritions online shop development

            .row.no-gutters.h-100

                div(class="col-md-4 our-works__gallery__image all other position-relative")
                    a(href="#")
                        img(class="img-fluid img-object" src="./img/gallery/5.jpg", alt="gallery-5")
                        .our-works__gallery__overlay.position-absolute.d-flex.align-items-center.justify-content-center.text-center
                         .our-works__gallery__content
                                +getSvgIcon('visit', 'our-works__gallery__icon resize-svg mt-2 mx-3 grow-0 shrink-0')
                                p.text-light-1.text-xsmall.weight-bold.text-capitalize.mt-4 sport nutritions online shop development

                div(class="col-md-4 our-works__gallery__image all logos position-relative")
                    a(href="#")
                        img(class="img-fluid img-object" src="./img/gallery/6.jpg", alt="gallery-6")
                        .our-works__gallery__overlay.position-absolute.d-flex.align-items-center.justify-content-center.text-center
                         .our-works__gallery__content
                                +getSvgIcon('visit', 'our-works__gallery__icon resize-svg mt-2 mx-3 grow-0 shrink-0')
                                p.text-light-1.text-xsmall.weight-bold.text-capitalize.mt-4 sport nutritions online shop development

                div(class="col-md-4 our-works__gallery__image all sites position-relative")
                    a(href="#")
                        img(class="img-fluid img-object" src="./img/gallery/7.jpg", alt="gallery-7")
                        .our-works__gallery__overlay.position-absolute.d-flex.align-items-center.justify-content-center.text-center
                         .our-works__gallery__content
                                +getSvgIcon('visit', 'our-works__gallery__icon resize-svg mt-2 mx-3 grow-0 shrink-0')
                                p.text-light-1.text-xsmall.weight-bold.text-capitalize.mt-4 sport nutritions online shop development

