//- 
include ../mixins/history-box

//- 
section.our-history.bg-secondary.text-light-1.position-relative

    .container-section

        .our-history__heading.text-center.position-relative
            h3.text-large.text-center.weight-bolder.text-uppercase.mb-md-5.mx-auto.line-height our history
            p.first-letter.text-xsmall.text-light-2.width-70.mx-auto the creation of websites from web studio, as a tool for doing business, begins with analytics. the goals are defined, the ways to achieve them are outlined. The goal is to encourage visitors to use the service or buy goods in your company, rather than from competitors.

        .our-history__line-date.row.no-gutters.mt-5

            +historyBox(2014, 'foundation of the company', 'According to surveys, people often sing in the car than in the bathroom.')

            +historyBox(2015, 'foundation of the company', 'According to surveys, people often sing in the car than in the bathroom.')

            +historyBox(2016, 'foundation of the company', 'According to surveys, people often sing in the car than in the bathroom.', 'select--active')
