//- 
include ../mixins/team-box

//- 
section.our-team.py-5

    .our-team__heading.text-center
        h3.text-mid.text-light-1.weight-bolder.text-uppercase our team
        p.text-xsmall.text-light-2.width-40.mx-auto.first-letter talented employees of our company will be able to solve any problem in no matter the complexity and timing of execution

    //- 
    .row.no-gutters.our-team__wrapper.container-section.p-0.text-light-1.mt-4

        +teamBox('our-team/1.jpg', 1)

        +teamBox('our-team/2.jpg', 2)

        +teamBox('our-team/1.jpg', 1)

        +teamBox('our-team/2.jpg', 2)
        
        +teamBox('our-team/1.jpg', 1)

        +teamBox('our-team/2.jpg', 2)

        +teamBox('our-team/1.jpg', 1)

        +teamBox('our-team/2.jpg', 2)

        +teamBox('our-team/1.jpg', 1)
