nav(class="container-section my-5" aria-label="Page navigation example")

  ul.pagination.m-0

    li.page-item.active
        a(class="page-link rounded-0" href="#") 1

    li.page-item.mx-2
        a(class="page-link rounded-0" href="#") 2

    li.page-item
      a(class="page-link rounded-0" href="#" aria-label="Next")
        span(aria-hidden="true")
        span.sr-only Next