//- 
include ../mixins/card-plan

//- 
section.plans.bg-eighth.py-5

    .container-section.row.no-gutters
        
        //- 
        +cardPlan('start', 'ideal for novice users', 'solutions', 12.5)

        //- 
        +cardPlan('advanced', 'suitable for users with basic skills', 'commercial', 20.00)

        //- 
        +cardPlan('premium', 'opens all the features of an advanced user', 'seo', 30.50)