//- 
include ../mixins/card-plan-one

//- 
section.plans-one.bg-eighth.py-3.py-lg-5

    h3.text-small.text-light-1.weight-bold.text-uppercase.text-center.mb-3.mb-lg-5 tariff plans

    .container-section.row.no-gutters
        
        //- 
        +cardPlan('start', 'ideal for novice users', 'solutions', 12.5)

        //- 
        +cardPlan('advanced', 'suitable for users with basic skills', 'commercial', 20.00)

        //- 
        +cardPlan('premium', 'opens all the features of an advanced user', 'seo', 30.50)