//- 
include ../mixins/svg

//- 
section.services.row.no-gutters#services

    .col-lg-5.services__heading.d-flex.flex-column.align-items-end.justify-content-center
        div.position-relative
            h2.text-large.text-light-1.weight-bolder.text-uppercase.text-right
                span.d-block.line-height our
                span.d-block.line-height services
            p.text-xsmall.width-30.text-light-1.ml-auto Or human resources allow us to finish tasks quickly and in time.

    .col-lg-6.services__all-services.p-3.p-md-5

        .row.no-gutters.flex-wrap.flex-row.align-content-center.justify-content-between.h-100

            .col.services__all-services__item.text.basis-3.py-2.px-2.d-flex.flex-column.justify-content-around.align-items-center.text-center.grow-0.shrink-0.mb-3.text-uppercase
                +getSvgIcon('solutions', 'grow-0 shrink-0')
                p.text-light-1.m-0 internet solution development

            .col.services__all-services__item.text.basis-3.py-2.px-2.d-flex.flex-column.justify-content-around.align-items-center.text-center.grow-0.shrink-0.mb-3.text-uppercase
                +getSvgIcon('commercial', 'grow-0 shrink-0')
                p.text-light-1.m-0 internet commercial and marketing
                
            .col.services__all-services__item.text.basis-3.py-2.px-2.d-flex.flex-column.justify-content-around.align-items-center.text-center.grow-0.shrink-0.mb-3.text-uppercase
                +getSvgIcon('seo', 'grow-0 shrink-0')
                p.text-light-1.m-0 seo services
                
            .col.services__all-services__item.text.basis-3.py-2.px-2.d-flex.flex-column.justify-content-around.align-items-center.text-center.grow-0.shrink-0.mb-3.text-uppercase
                +getSvgIcon('content', 'grow-0 shrink-0')
                p.text-light-1.m-0 web sites content preparation
                
            .col.services__all-services__item.text.basis-3.py-2.px-2.d-flex.flex-column.justify-content-around.align-items-center.text-center.grow-0.shrink-0.mb-3.text-uppercase
                +getSvgIcon('design', 'grow-0 shrink-0')
                p.text-light-1.m-0 design and polygraphy
                
            .col.services__all-services__item.text.basis-3.py-2.px-2.d-flex.flex-column.justify-content-around.align-items-center.text-center.grow-0.shrink-0.mb-3.text-uppercase
                +getSvgIcon('outside', 'grow-0 shrink-0')
                p.text-light-1.m-0 outside adverts