.row.header__slider.mx-auto
                .col.header__slider__slide
                    img(src="./img/header/slider/1.png", class="img-fluid mx-auto mt-5")
                .col.header__slider__slide
                    img(src="./img/header/slider/1.png", class="img-fluid mx-auto mt-5")
                .col.header__slider__slide
                    img(src="./img/header/slider/1.png", class="img-fluid mx-auto mt-5")