.section.testimonial.row.no-gutters.bg-primary.py-5.px-3.text-light-1.text-center#testimonial

        .col.testimonial__card
            p.testimonial__card__quote.width-80.mx-auto.first-letter what are promulgated before the public madiba conducted. public relations of life, most importantly. He spent twenty seven years in china more than what. myself on the career ladder to pay bills.
            p.testimonial__card__name.weight-bolder.text-capitalize.mt-5 sergeeva olga
            p.testimonial__card__job.text-xsmall.text-capitalize art director agra

        .col.testimonial__card
            p.testimonial__card__quote.width-80.mx-auto.first-letter what are promulgated before the public madiba conducted. public relations of life, most importantly. He spent twenty seven years in china more than what. myself on the career ladder to pay bills.
            p.testimonial__card__name.weight-bolder.text-capitalize.mt-5 sergeeva olga
            p.testimonial__card__job.text-xsmall.text-capitalize art director agra

        .col.testimonial__card
            p.testimonial__card__quote.width-80.mx-auto.first-letter what are promulgated before the public madiba conducted. public relations of life, most importantly. He spent twenty seven years in china more than what. myself on the career ladder to pay bills.
            p.testimonial__card__name.weight-bolder.text-capitalize.mt-5 sergeeva olga
            p.testimonial__card__job.text-xsmall.text-capitalize art director agra

        .col.testimonial__card
            p.testimonial__card__quote.width-80.mx-auto.first-letter what are promulgated before the public madiba conducted. public relations of life, most importantly. He spent twenty seven years in china more than what. myself on the career ladder to pay bills.
            p.testimonial__card__name.weight-bolder.text-capitalize.mt-5 sergeeva olga
            p.testimonial__card__job.text-xsmall.text-capitalize art director agra

        .col.testimonial__card
            p.testimonial__card__quote.width-80.mx-auto.first-letter what are promulgated before the public madiba conducted. public relations of life, most importantly. He spent twenty seven years in china more than what. myself on the career ladder to pay bills.
            p.testimonial__card__name.weight-bolder.text-capitalize.mt-5 sergeeva olga
            p.testimonial__card__job.text-xsmall.text-capitalize art director agra

        .col.testimonial__card
            p.testimonial__card__quote.width-80.mx-auto.first-letter what are promulgated before the public madiba conducted. public relations of life, most importantly. He spent twenty seven years in china more than what. myself on the career ladder to pay bills.
            p.testimonial__card__name.weight-bolder.text-capitalize.mt-5 sergeeva olga
            p.testimonial__card__job.text-xsmall.text-capitalize art director agra