section.row.no-gutters.trusted.bg-third.justify-content-around
    .col-md-2.text-center.py-5
        img(class="img-fluid" src="./img/trusted/1.png", alt="1")
    .col-md-2.text-center.py-5
        img(class="img-fluid" src="./img/trusted/1.png", alt="1")
    .col-md-2.text-center.py-5
        img(class="img-fluid" src="./img/trusted/1.png", alt="1")
    .col-md-2.text-center.py-5
        img(class="img-fluid" src="./img/trusted/1.png", alt="1")