// RESET ALL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// HTML
html {
  box-sizing: border-box;
}

// BODY
body {
  overflow-x: hidden;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  background-color: var(--secondary);
  direction: ltr;
}
