// RESET ALL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// HTML
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// BODY
body {
  overflow-x: hidden;
  height: 10000px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  background-color: var(--secondary);
  direction: ltr;
}

// Rest Container
.container,
.container-fluid {
  padding: 0;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  flex: 0 0 auto;
}
