// Add background
.addBackground-home {
  //
  &::after,
  &::before {
    content: "";
    background-image: url("../img/other/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-position: center center;
    z-index: -2;
    display: block;
  }

  //
  &::before {
    background-image: url("../img/other/2.png");
    background-size: 30vw;
    top: 500px;
    background-position: 48% center;
    z-index: -1;

    //
    @media (max-width: 817px) {
      top: 300px;
    }
  }
}

//
.addBackground-aboutUs {
  //
  &::after {
    content: "";
    background-image: url("../img/make-website/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: -500px;
    right: 0;
    left: -200px;
    width: 100%;
    background-position: center center;
    z-index: -2;
    display: block;
    animation: moveManEn 15s ease-in-out infinite alternate forwards;

    //
    @media (max-width: 992px) {
      background-image: linear-gradient(
          to bottom,
          rgba(map-get($theme-colors, secondary), 0.4) 30%,
          rgba(map-get($theme-colors, secondary), 0.9)
        ),
        url("../img/make-website/1.png");
      right: 0;
      left: 0;
    }

    // transform: scaleX(-1);
  }
}

// resize footer svg
.resize-footer-svg {
  height: 20px;
  width: 20px;
  margin-inline-end: 10px;
}

// Rest Container
.container,
.container-fluid {
  padding: 0;
}

// btn
.btn-group > .btn,
.btn-group-vertical > .btn {
  flex: 0 0 auto;
}

// Slick dots
.slick-dots {
  display: flex;
  list-style: none;
  background-color: transparent;
  border-radius: 50%;

  //
  & li {
    width: 20px;
    height: 20px;
    border-radius: inherit;
    border: 2px solid var(--primary);
    cursor: pointer;

    //
    &:nth-of-type(1) {
      margin-inline-start: 15px;
    }

    //
    &:nth-of-type(even) {
      margin: 0 5px;
    }

    //
    & > button {
      all: unset;
    }
  }
}

// Slick active
.slick-dots .slick-active {
  background-color: var(--primary);
  border-radius: inherit;
}

// a:hover
a:hover {
  text-decoration: none;
}

//
.change-lang {
  //
  &__icon {
    top: 50%;
    right: 10px;
    inset-inline-end: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  //
  svg {
    transform: rotate(90deg);
    fill: white;
    display: block;
    width: 20px;
    height: 20px;
  }

  //
  & select {
    appearance: none;
    padding-inline-end: 50px;
  }
}

//
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}

a:focus {
  outline: none;
}
