// img object
.img-object {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Rest line height
.rest-line-height {
  line-height: 0;
}

// Line height
.line-height {
  line-height: 72px;
  //
  @media (max-width: 600px) {
    line-height: 50px;
  }
}

// Letter spacing
.letter-spacing {
  letter-spacing: 1px;
}

.letter-spacing-5 {
  letter-spacing: 0.5px;
}

// fill svg white
.fill-svg-white {
  fill: var(--light-2);
}

// cursor
.cursor {
  cursor: pointer;
}

// resize svg
.resize-svg {
  height: 40px;
  width: 40px;
  //
  @media (max-width: 600px) {
    height: 30px;
    width: 30px;
  }
}

// grow 0
.grow-0 {
  flex-grow: 0;
}

// shrink 0
.shrink-0 {
  flex-shrink: 0;
}

// btn change
.btn-change {
  font-size: map-get($textSize, xsmall) + px;

  //
  @media (max-width: 400px) {
    font-size: map-get($textSize, xxsmall) + px;
  }
}

// change dir
.changeDir {
  margin-inline-start: auto;
}

// min height
.min-height {
  min-height: 550px;
}

// opacity
.opacity {
  opacity: 0.2;
  pointer-events: none;
}

// fade in
.fadeIn {
  opacity: 1;
  transition: opacity 0.5s;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s;
}

// first letter
.first-letter {
  &::first-letter {
    text-transform: capitalize;
  }
}

//
.direction-rtl {
  direction: rtl;
}

//
.direction-ltr {
  direction: ltr;
}

//
.row:before,
.row:after {
  display: none;
}

// Container section
.container-section {
  max-width: 1170px;
  margin: 0 auto;
  //
  @media (max-width: 1200px) {
    padding: 0 10px;
  }
}

//
.zindex-over {
  z-index: 9999;
}

//
.rest-textarea {
  resize: none;
}
