-var changeDir = 'ltr'

<!DOCTYPE html>
html(lang="en" dir=changeDir)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#061727")
        block styles
            link(rel="stylesheet", href="./css/library/slick.css")
            link(rel="stylesheet", href="./css/style.css")
        block title
            title new page
    body
        block content












        block scripts
            script(src="./js/library/jquery.3.5.1.js")
            script(src=src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
            script(src="./js/library/slick.min.js")
            script(src="./js/main.js")
            script(src="http://localhost:35729/livereload.js")