.about-us {
  //
  &__heading {
    //
    &__title {
      top: 50%;
      left: 55%;
      z-index: 9999;
      transform: translate(-50%, -50%);
      //
      span {
      }
    }

    //
    &__img {
      //
      img {
        //
        &:nth-of-type(2) {
          inset-inline-start: 400px;
          bottom: -70px;
          width: 50%;
          box-shadow: -30px 0 45px 5px rgba(#050f1a, 0.3);
        }
      }
    }
  }
  //
  &__info {
    padding: 50px 50px 0 100px;

    @media (max-width: 992px) {
      padding: 30px;
    }

    //
    &__title {
    }
    //
    &__description {
      width: 85%;
      //
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}
