.choose-us {
  min-height: 1000px;
  background-image: url(../img/section-3/1.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: left;

  //
  @media (max-width: 992px) {
    background-position: top center;
  }

  &__features {
    .row {
      height: 95vh;
    }
  }

  //
  &__heading {
    //
    &__description {
      //
      @media (max-width: 992px) {
        width: 80%;
      }
    }
  }
}
