//
.our-works {
  // min-height: 100vh;
  // height: auto;
  //
  &__gallery {
    // height: 86vh;
    // Overlay
    &__overlay {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: rgba(map-get($theme-colors, primary), 0.7);
      transform: scale(0);
      transition: transform 0.5s ease;
    }

    //
    &__image {
      height: 300px;
      //
      &--change {
        height: 600px;
      }
      @media (max-width: 992px) {
        height: 300px;
      }
    }

    //
    &__image:hover {
      //
      @media (hover: hover) {
        //
        .our-works__gallery__overlay {
          transform: scale(1);
        }
      }
    }
  }
}
