// Header
.header {
  background-color: rgba(37, 36, 36, 0.541);
  height: 100vh;
  background-image: url("../img/header/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  // Contains
  &__contains {
    margin-top: 150px;
    //
    @media (max-width: 600px) {
      margin-top: 90px;
    }
  }
}
