//
.header-section {
  //
  &--contacts {
    //
    @media (max-width: 600px) {
      min-height: 300px;
    }
    padding: 70px 0;
    width: 100%;
    margin-top: 65px;

    //
    h1 {
      background-image: linear-gradient(
          to right,
          rgba(192, 255, 0, 1),
          rgba(79, 8, 204, 80%),
          rgba(0, 255, 55, 1)
        ),
        url(../img/other/16.jpg);
      color: transparent;
      background-position-y: 127%;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 34%;
      line-height: 177px;
    }
  }
}

// How help
.how-help {
  height: 100vh;

  h2 {
    right: 15%;
    bottom: 20%;
  }

  h3 {
    line-height: 30px;
  }

  //
  &__box {
    //
    img:nth-of-type(1) {
      margin-bottom: 10%;
    }

    img:nth-of-type(2) {
      height: 80vh;
      width: 50%;
      right: -25%;
      bottom: 0;
    }

    //
    &:nth-of-type(2) > div {
      transform: translateX(-70px);
      z-index: -1;
    }
  }
}
