// Header section
.header-section {
  //
  &--blog {
    padding: 20px 30px;
    width: 100%;
    margin-top: 65px;

    //
    h1 {
      background-image: linear-gradient(
          rgba(193, 145, 48, 0.8),
          rgba(193, 145, 48, 0.8),
          rgba(193, 145, 48, 0.8)
        ),
        url(../img/other/16.jpg);
      color: transparent;
      background-position-y: 50%;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: cover;
      line-height: 177px;
    }
  }
}

// First blog
.first-blog {
  // Info
  &__info {
    padding-left: 15px;
  }

  .blog__image {
    height: 500px;
  }

  // Blog date
  .blog__date {
    top: 0;
    right: 0px;
    bottom: auto;
    left: auto;
  }

  // btn
  .btn {
    position: relative;

    //
    &::after {
      content: "→";
      position: absolute;
      top: 0;
      right: -25px;
      color: var(--primary);
      display: block;
      transition: all 0.5s;
    }

    //
    &:hover::after {
      //
      @media (hover: hover) {
        right: -33px;
      }
    }
  }
}
