// Header
.header {
  background-color: rgba(37, 36, 36, 0.541);
  height: 100vh;
  background-image: url("../img/header/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  // Contains
  &__contains {
    margin-top: 150px;
    //
    @media (max-width: 600px) {
      margin-top: 90px;
    }
  }
}

// Section about us
.about-us {
  //
  &__heading {
    //
    &__title {
      top: 50%;
      left: 55%;
      z-index: 9999;
      transform: translate(-50%, -50%);
      //
      span {
      }
    }

    //
    &__img {
      //
      img {
        //
        &:nth-of-type(2) {
          inset-inline-start: 400px;
          right: -50px;
          bottom: -70px;
          width: 50%;
          max-width: 50%;
          box-shadow: -30px 0 45px 5px rgba(#050f1a, 0.3);
        }
      }
    }
  }
  //
  &__info {
    padding: 50px 50px 0 100px;

    @media (max-width: 992px) {
      padding: 30px;
    }

    //
    &__title {
    }
    //
    &__description {
      width: 90%;
      //
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

// Section choose us
.choose-us {
  min-height: 1000px;
  background-image: url(../img/section-3/1.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: left;

  //
  @media (max-width: 992px) {
    background-position: top center;
  }

  &__features {
    .row {
      .col {
        min-height: 130px;
      }
    }
  }

  //
  &__heading {
    //
    &__description {
      //
      @media (max-width: 992px) {
        width: 80%;
      }
    }
  }
}

// Section services
.services {
  //
  &__heading {
    background-image: url(../img/our-services/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 100vh;

    //
    & > div {
      @media (min-width: 992px) {
        right: -90px;
      }
    }
  }

  //
  svg {
    height: 60px;
    width: 80px;
  }

  &__all-services {
    margin-inline-start: 6vw;
    //
    @media (max-width: 992px) {
      margin-inline-start: 0;
    }
    //
    &__item {
      height: 268px;
      background-color: var(--third);
      transition: all 0.3s ease;
      backface-visibility: hidden;

      //
      &:hover {
        //
        @media (hover: hover) {
          background-color: var(--third-light);
          box-shadow: 15px 15px 20px darken(map-get($theme-colors, secondary), 3%);
          transform: scale(1.05);
          will-change: transform;
        }
      }
    }
  }

  &--home {
    min-height: 100vh;
  }
}

// Section our works
.our-works {
  //
  &__gallery {
    //
    &__overlay {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: rgba(map-get($theme-colors, primary), 0.7);
      transform: scale(0);
      transition: transform 0.5s ease;
    }

    //
    &__image {
      height: 300px;
      //
      &--change {
        height: 600px;
      }
      @media (max-width: 992px) {
        height: 300px;
      }
    }

    //
    &__image:hover {
      //
      @media (hover: hover) {
        //
        .our-works__gallery__overlay {
          transform: scale(1);
        }
      }
    }
  }
}

// Section blog
.blog {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;

  //
  &__btn {
    margin-inline-end: 15px;
  }

  //
  &__article {
  }

  //
  &__date {
    padding: 0 30px;
    bottom: 0;
    left: 0;
    display: block;

    //
    span:nth-of-type(2) {
      margin-top: -22px;
    }
  }

  //
  &__description {
    margin-inline-start: 130px;

    //
    @media (max-width: 768px) {
      margin-inline-start: 0;
    }
  }
}

// Section testimonial
.testimonial {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20vw;
  transform: translateY(35px);
  box-shadow: 0 20px 20px darken(map-get($theme-colors, secondary), 3%);

  //
  @media (max-width: 986px) {
    transform: translateY(0);
  }

  //
  svg {
    fill: white;
  }

  //
  &__card {
    //
    &__quote {
      font-size: 20px;
      line-height: 30px;
    }
    //
    &__name {
      font-size: 18px;
    }
  }
}

// Section trusted
.trusted {
  //
  @media (min-width: 992px) {
    padding: 140px 0;
  }
  //
  img {
    max-width: 15vw;

    @media (max-width: 746px) {
      min-width: 30vw;
    }
  }
}
