// Section header services
.header-section {
  //
  &--services {
    padding: 20px 30px;
    width: 100%;
    margin-top: 65px;

    //
    h1 {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(127, 67, 154, 0.2)),
        url(../img/other/6.png);
      color: transparent;
      background-position: center;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 200%;
      mix-blend-mode: hard-light;
      line-height: 177px;
    }
  }
}

// Features
.features {
  //
  &__info {
    padding: 50px 50px 0 100px;

    @media (max-width: 992px) {
      padding: 30px;
    }

    //
    &__title {
      line-height: 27px;
    }
    //
    &__description {
      width: 80%;
      //
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}
