// Render Class Font Weight
@each $name, $weight in $font-weight {
  .weight-#{$name} {
    font-weight: $weight;
  }
}
// Font manger
@each $type, $size in $textSize {
  .text-#{$type} {
    font-size: #{$size}px;
    line-height: #{$size * 1.5}px;

    //
    @if $type == "large" {
      //
      @media only screen and (max-width: 600px) {
        font-size: #{$size - 30}px;
        line-height: #{$size * 1.5}px;
      }
    }

    @if $type == "xlarge" {
      //
      @media only screen and (max-width: 768px) {
        font-size: #{$size - 50}px;
        line-height: #{$size * 1.5}px;
      }
      @media only screen and (max-width: 600px) {
        font-size: #{$size - 75}px;
        line-height: #{$size * 1.5}px;
      }
    }
  }
}
