//
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
  font-family: Cairo, sans-serif;

  //
  h2,
  h3 {
    line-height: 45px;
  }

  //
  .choose-us {
    background-image: url(../img/section-3/2.png);
    background-position-x: right;
  }

  //
  .services {
    //
    &__heading {
      background-image: url(../img/our-services/2.jpg);

      //
      & > div {
        @media (max-width: 992px) {
          width: 100%;
        }
        @media (min-width: 992px) {
          right: auto;
          left: -5vw;
          inset-inline-start: 7vw;
        }
      }
    }
  }

  //
  .about-us {
    //
    &__heading {
      //
      &__img {
        //
        img {
          //
          &:nth-of-type(2) {
            left: -50px;
            right: auto;
          }
        }
      }
    }
  }

  //
  .blog__heading {
    //
    @media (min-width: 992px) {
      direction: ltr;
    }
  }

  //
  .change-lang {
    //
    &__icon {
      right: auto;
      left: 10px;
    }
  }

  //
  .header-section__info p {
    text-align: right;
  }

  //
  .our-history__line-date__box::after {
    right: 0;
  }

  //
  .make-website > div {
    margin-left: 0;
    margin-right: auto;

    //
    @media (max-width: 982px) {
      margin: 0 auto;
    }
  }

  //
  .addBackground-aboutUs::after {
    animation-name: moveManAr;
    left: 0;
    right: -200px;
  }

  //
  .all-works__box h4 {
    right: 10%;
    line-height: 110px;

    //
    @media (max-width: 600px) {
      line-height: 85px;
    }
  }

  //
  .all-works__box::after {
    background-image: linear-gradient(
      to left,
      rgba(map-get($theme-colors, secondary), 0.8) 40%,
      rgba(map-get($theme-colors, secondary), 0.1)
    );
  }

  //
  .plans-two__features {
    padding: 0 20px 0 55px;
    text-align: right;
  }

  //
  .plans-two .select::after {
    left: -32px;
    right: auto;
  }

  //
  .plans-one__card:nth-of-type(1):hover {
    box-shadow: -12px 0px 15px 0px #05121e;
  }

  //
  .plans-one__card:nth-of-type(3):hover {
    box-shadow: 12px 0px 15px 0px rgb(5, 18, 30);
  }

  //
  .first-blog .btn::after {
    content: "←";
    left: -25px;
    right: auto;
  }

  //
  .first-blog .btn:hover::after {
    left: -33px;
  }

  //
  .blog__description {
    margin-inline-start: 0;
    margin-inline-end: 130px;
  }

  //
  .page-link span:not(.sr-only)::after {
    content: "←";
  }
}
