//
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
  font-family: Cairo, sans-serif;

  //
  h2,
  h3 {
    line-height: 45px;
  }

  //
  .choose-us {
    background-image: url(../img/section-3/2.png);
    background-position-x: right;
  }

  //
  .services {
    //
    &__heading {
      background-image: url(../img/our-services/2.jpg);

      //
      & > div {
        @media (max-width: 992px) {
          width: 100%;
        }
        @media (min-width: 992px) {
          right: auto;
          left: -5vw;
          inset-inline-start: 7vw;
        }
      }
    }
  }

  //
  .about-us {
    //
    &__heading {
      //
      &__img {
        //
        img {
          //
          &:nth-of-type(2) {
            left: -50px;
            right: auto;
          }
        }
      }
    }
  }

  //
  .blog__heading {
    //
    @media (min-width: 992px) {
      direction: ltr;
    }
  }

  //
  .change-lang {
    //
    &__icon {
      right: auto;
      left: 10px;
    }
  }

  //
  .header-about-us__info p,
  .header-services p {
    text-align: right;
  }

  //
  .our-history__line-date__box::after {
    right: 0;
  }

  .make-website > div {
    margin-left: 0;
    margin-right: auto;

    //
    @media (max-width: 982px) {
      margin: 0 auto;
    }
  }

  //
  .addBackground-aboutUs::after {
    animation-name: moveManAr;
    left: 0;
    right: -200px;
  }
}
