//
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
  font-family: Cairo, sans-serif;

  ////////////////////////////////
  //// Other
  //
  .page-link span:not(.sr-only)::after {
    content: "←";
  }

  //
  .change-lang {
    //
    &__icon {
      right: auto;
      left: 10px;
    }
  }

  //
  h2 {
    line-height: 125px;

    //
    @media (max-width: 600px) {
      line-height: 75px;
    }
  }

  //
  .navbar .navbar-brand {
    @media (min-width: 992px) {
      margin-right: 130px;
      margin-left: 0;
    }
  }

  ////////////////////////////////
  //// Choose us
  .choose-us {
    background-image: url(../img/section-3/2.png);
    background-position-x: right;
  }

  ////////////////////////////////
  //// Services
  //
  .services {
    //
    &__heading {
      background-image: url(../img/our-services/2.jpg);

      //
      & > div {
        @media (max-width: 992px) {
          width: 100%;
        }
        @media (min-width: 992px) {
          right: auto;
          left: -5vw;
          inset-inline-start: 7vw;
        }
      }
    }
  }

  ////////////////////////////////
  //// About us
  //
  .about-us {
    //
    &__heading {
      //
      &__img {
        //
        img {
          //
          &:nth-of-type(2) {
            left: -50px;
            right: auto;
          }
        }
      }
    }
  }

  //
  .about-us__heading h2 {
    width: 30%;
    right: 47%;

    //
    @media (max-width: 984px) {
      right: 10%;
      // left: auto;
    }
  }

  //
  .addBackground-aboutUs::after {
    animation-name: moveManAr;
    left: 0;
    right: -200px;

    @media (max-width: 992px) {
      right: 0;
    }
  }

  ////////////////////////////////
  //// Header section
  //
  .header-section__info p {
    text-align: right;
  }

  ////////////////////////////////
  //// Our history
  //
  .our-history__line-date__box::after {
    right: 0;
  }

  ////////////////////////////////
  //// Make website
  .make-website > div {
    margin-left: 0;
    margin-right: auto;

    //
    @media (max-width: 982px) {
      margin: 0 auto;
    }
  }

  //
  .make-website h2 span:nth-of-type(1) {
    line-height: 130px;

    @media (max-width: 600px) {
      line-height: 79px;
    }
  }

  ////////////////////////////////
  //// All works
  //
  .all-works__box h4 {
    right: 10%;
    line-height: 110px;

    //
    @media (max-width: 600px) {
      line-height: 85px;
    }
  }

  //
  .all-works__box::after {
    background-image: linear-gradient(
      to left,
      rgba(map-get($theme-colors, secondary), 0.8) 40%,
      rgba(map-get($theme-colors, secondary), 0.1)
    );
  }

  ////////////////////////////////
  //// Plans
  //
  .plans-two__features {
    padding: 0 20px 0 55px;
    text-align: right;
  }

  //
  .plans-two .select::after {
    left: -32px;
    right: auto;
  }

  //
  .plans-one__card:nth-of-type(1):hover {
    box-shadow: -12px 0px 15px 0px #05121e;
  }

  //
  .plans-one__card:nth-of-type(3):hover {
    box-shadow: 12px 0px 15px 0px rgb(5, 18, 30);
  }

  ////////////////////////////////
  //// Blog
  //
  .first-blog .btn::after {
    content: "←";
    left: -25px;
    right: auto;
  }

  //
  .first-blog .btn:hover::after {
    left: -33px;
  }

  //
  .blogs .blog__description {
    margin-inline-end: 130px;
    margin-inline-start: 0;
  }

  //
  .blog__heading {
    //
    @media (min-width: 992px) {
      direction: ltr;
    }
  }

  ////////////////////////////////
  //// Contacts
  //
  .how-help__box img:nth-of-type(2) {
    left: -25%;
    right: auto;
  }

  //
  .how-help__box:nth-of-type(2) > div {
    transform: translateX(70px);

    //
    @media (max-width: 992px) {
      transform: translateX(0px);
    }
  }

  //
  .how-help__box img:nth-of-type(2) {
    box-shadow: -30px 35px 30px 0px darken(map-get($theme-colors, secondary), 4%);
    //
    @media (max-width: 600px) {
      box-shadow: none;
    }
  }

  //
  .how-help h2 {
    left: 40%;
    right: auto;

    @media (max-width: 984px) {
      right: 2%;
      left: auto;
    }
  }

  //
  .how-help h3 {
    margin-left: 0;
    margin-right: 20px;
  }

  //
  .form-contacts {
    background-image: url(../img/section-3/2.png);
    background-position: bottom right;

    //
    @media (max-width: 992px) {
      background-image: linear-gradient(
          rgba(map-get($theme-colors, secondary), 0.7),
          rgba(map-get($theme-colors, secondary), 0.7)
        ),
        url(../img/section-3/2.png);
    }
  }

  //
  .form-contacts__form-group input[type="tel"] {
    margin-left: 10px;
    margin-right: 0;

    //
    @media (max-width: 600px) {
      margin-left: 0;
    }
  }
}
