$font-weight: (
  bolder: 700,
  bold: 400,
  light: 300,
);

//
$textSize: (
  xlarge: 150,
  large: 100,
  mid: 50,
  small: 36,
  xsmall: 16,
  xxsmall: 14,
  other: 22,
);

$text-indent: (
  xlarge: 100,
  large: 50,
  mid: 25,
  small: 15,
);

//
$width: (
  100: 100%,
  90: 90%,
  80: 80%,
  70: 70%,
  60: 60%,
  50: 50%,
  40: 40%,
  30: 30%,
  20: 20%,
  10: 10%,
);

//
@each $type, $setWidth in $width {
  .width-#{$type} {
    width: $setWidth;
    //
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

@for $size from 1 through 12 {
  .basis-#{$size} {
    flex-basis: #{100 / $size - 2}#{"%"};

    //
    @media only screen and (max-width: 992px) {
      flex-basis: 49%;
    }

    @media only screen and (max-width: 600px) {
      flex-basis: auto;
    }
  }
}
